.box{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: movingBox;
    animation-duration: 2000;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: movingBox;
    animation-duration: 2000;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    
}

@keyframes movingBox{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(100px, 100px);
    }
}